{% extends 'base.html' %}


{% block container %}
<div class="container">
<table class="table table-hover table-bordered">
    <thead><h4>Notice</h4></thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
<!--        <th>Used Quantity</th>-->
      </tr>
    {% for item in notice %}
    <tr>
        <td>
            <a href="/{{category}}/notice/{{item.id}}">{{item.title}}</a>
        </td>
        <td>
            {{item.created}}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}