{% extends 'base.html' %}


{% block container %}
<div class="container">
<p>{{research_article.title}}</p>
    <hr>
    <p>{{research_article.body}}</p>
    {% if research_article.file %}
    <p>
        <a href="{{ research_article.file.url }}"><button class="btn btn-outline-primary">Read Research Article File</button></a>
        <a download href="{{ research_article.file.url }}"><button class="btn btn-outline-success">Download Research Article File</button></a>
    </p>
    {% endif %}
</div>
{% endblock %}